/* You can add global styles to this file, and also import other style files */

        .navbar {
            background-color: #0a1c2c;
        }

        .navbar .nav-link,
        .navbar-brand {
            color: white !important;
        }

        .navbar .btn {
            color: #e60026 !important;
        }

        .btn-primary {
            background-color: #34495e !important;
            border: #34495e !important;
            ;
        }

        
    
